<div class="container mx-2 px-4">
  <h2 class="mt-5 text-center font-bold"><%= (@log.name || @phone_number) %></h2>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
    <div class="col-span-1">
      <div class="bg-white rounded-md shadow-md p-4">
        <h5 class="font-bold text-lg">Total Calls</h5>
        <p><%= @total_calls %></p>
      </div>
    </div>

    <div class="col-span-1">
      <div class="bg-white rounded-md shadow-md p-4">
        <h5 class="font-bold text-lg">Total Call Duration</h5>
        <p><%= @total_duration %> seconds</p>
      </div>
    </div>

    <div class="col-span-1">
      <div class="bg-white rounded-md shadow-md p-4">
        <h5 class="font-bold text-lg">Average Call Duration</h5>
        <p><%= @average_duration %> seconds</p>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
    <div class="col-span-1">
      <div class="bg-white rounded-md shadow-md p-4">
        <h5 class="font-bold text-lg">Longest Call</h5>
        <p><%= @longest_call.try(:duration) %> seconds</p>
      </div>
    </div>
  </div>

  <%= render partial: "call_timeline", locals: { data: @call_logs } %>

  <div class="mt-4">
    <div class="bg-white rounded-md shadow-md p-4">
      <h5 class="font-bold text-lg">Duration of Calls Over Time</h5>
      <p><%= line_chart @call_data,  xtitle: "Time", ytitle: "Duration (seconds)" %></p>
    </div>
  </div>
</div>
