<style>

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-style {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.card-style:hover {
  transform: scale(1.04);
}

.card-title a {
  text-decoration: none;
  color: #333;
}

.card-title a:hover {
  color: #007bff;
}

</style>

<div class="container">
  <!-- Pagination -->
  <div class="text-center w-100">
    <%= paginate @call_logs %>
  </div>
  <%=render partial: "logs_filter"%>
  <div class="row">
    <% @call_logs.each do |call_log| %>
      <div class="col-md-4 card-style">
        <div class="card-body">
          <h5 class="card-title"><a href="<%= 'log_detail/' + call_log.id.to_s %>"><%= call_log.phone_number %></a></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= call_log.name || 'NA' %></h6>
          <p class="card-text">
            Duration (seconds): <%= call_log.duration %><br>
            Type: <%= call_log.call_type %><br>
            <%= time_ago_in_words(call_log.call_start_time) %> ago
            <small> <br> <%= call_log.call_start_time.in_time_zone('Asia/Kolkata').strftime('%Y-%m-%d %I:%M %p %Z') %> </small>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <% if !@call_logs.present? %>
    <p>Hey, we do not have your data.</p>
  <% end %>
</div>


