
<div class="container">
    <!-- Pagination -->
    <div class="text-center w-100">
    <%= paginate @call_logs %>
    </div>
  <h3> Hello,<%=current_user.email%>  </h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Phone Number</th>
        <th>Name</th>
        <th>Duration (seconds)</th>
        <th>Type</th>
        <th>At</th>
      </tr>
    </thead>
    <tbody>
      <% @call_logs.each do |call_log| %>
        <tr>
          <td> <a href="<%='log_detail/'+ call_log.id.to_s%>"><%= call_log.phone_number %> </a></td>
          <td><%= call_log.name || 'NA' %></td>
          <td><%= call_log.duration %></td>
          <td><%= call_log.call_type %></td>
          <td><%= call_log.call_start_time.in_time_zone('Asia/Kolkata').strftime('%Y-%m-%d %I:%M %p %Z') %></td>
        </tr>
      <% end %>
    
    </tbody>
  </table>
    <%  if !@call_logs.present? %>
    <p>Hey we have not your data.</p>
    <% end %>
</div>
