<div class="container mx-auto">
  <!-- Pagination -->
  <div class="text-center w-full">
    <%= paginate @call_logs %>
  </div>
  <%=render partial: "logs_filter"%>
  <div class="flex flex-wrap -mx-4">
    <% @call_logs.each do |call_log| %>
      <div class="w-full md:w-1/3 px-4 mb-4">
        <div class="bg-white shadow-md rounded-lg transition-transform hover:scale-104">
          <div class="p-4">
            <h5 class="text-xl font-bold"><a href="<%= 'log_detail/' + call_log.id.to_s %>" class="text-blue-500 hover:text-blue-700"><%= call_log.phone_number %></a></h5>
            <h6 class="text-sm text-gray-600 mb-2"><%= call_log.name || 'NA' %></h6>
            <p class="text-sm">
              Duration (seconds): <%= call_log.duration %><br>
              Type: <%= call_log.call_type %><br>
              <%= time_ago_in_words(call_log.call_start_time) %> ago
              <small> <br> <%= call_log.call_start_time.in_time_zone('Asia/Kolkata').strftime('%Y-%m-%d %I:%M %p %Z') %> </small>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if !@call_logs.present? %>
    <p class="text-center">Hey, we do not have your data.</p>
  <% end %>
</div>
