
<% if @stats.present? %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Incoming</th>
        <th>Outgoing</th>
        <th>Missed</th>
        <th>Declined</th>

      </tr>
    </thead>
    <tbody>
      <% @stats.each do |stat| %>
        <tr>
          <td><%= stat["name"].to_s %></td>
          <td><%= stat["incoming"].to_i %></td>
          <td><%= stat["outgoing"].to_i %></td>
          <td><%= stat["missed"].to_i %></td>
          <td><%= stat["declined"].to_i %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No call logs found for the selected organization.</p>
<% end %>
