<body>
    <div>
        <%= render 'students/sidebar'%>
        <div class="issue-section d-flex justify-content-center align-item-center">
           <h1 > Raise Your Issue Here </h1> 
        </div>
    </div>

    <div class="container unethical-practice  shadow p-4 mt-5">
        <div class="col d-flex justify-content-center align-item-center mb-4 heading-issue">
            <div class="row heading-issue">
                <h1> Highlight Unethical Practice</h1>
            </div>
        </div>
        
        <div class="col">
            <%= form_for @raise_an_issue, url: raise_an_issues_save_report_path, html: { method: :post, multipart: true } do |f| %>
                <div class="form-group">
                    <%= f.label :subject, "Subject" %>
                    <%= f.text_area :subject, class: "form-control form__input", rows: 2, required: true, placeholder: "Enter Subject", minlength: 10 %>
                </div>
                <br>
            
                <div class="form-group">
                    <%= f.label :description, "Description of the Offense" %>
                    <%= f.text_area :description, class: "form-control form__input", rows: 4, required: true, placeholder: "Enter Description", minlength: 50 %>
                </div>
                <br>
                <br>
            
                <%= f.hidden_field :user_id, value: current_user.id %><br>
            
                <%= f.submit "Submit", class: "btn btn-block btn-primary text-uppercase mx-auto d-block",  style: "background-image: linear-gradient(180deg, #071a35, #071a35); color: white; font-size: 1.7em; border-radius: 11px; padding:14px;", id: 'sub-button' %>
            <% end %>
        </div>

    </div>
</body>

<style>
.heading-issue h1{
    margin-top: 1%;
    font-weight:700;
    color:#071a35;
    font-size:3em;   
    border-radius: 0.5rem;
}
.issue-section h1{
    margin-top: 1%;
    font-weight:850;
    color:#E94256;
    font-size:4em;   
    border-radius: 0.5rem;
}
.form-group label {
    font-size: 1.5vw; /* Adjust the font size to your preference */
}
.unethical-practice {
   border-radius: 30px;
}
</style>
