<!-- app/views/payments/check_status.html.erb -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Check Payment Status</title>
  <!-- Add Bootstrap CSS via CDN -->
</head>
<body>
  <div class="container mt-5">
    <% if @payment.present? && @data.present? %>
      <h2>Payment Details</h2>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Transaction ID: <%= @payment.merchant_transaction_id %></h5>
          <p class="card-text">Status: <%= @data['data']['state'] %></p>
          <p class="card-text">Amount: <%= @data['data']['amount'].to_i/100 %></p>
          <p class="card-text">Name: <%= @payment.name%></p>

          <!-- Add more details as needed -->

          <!-- Display additional details from @data -->
          <table class="table table-bordered mt-3">
            <thead>
              <tr>
                <th>Key</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <% @data['data'].each do |key, value| %>
                <tr>
                  <td><%= key %></td>
                  <td><%= value %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <button class="btn btn-primary mt-3" onclick="downloadAsPDF()">Download as PDF</button>
    <% else %>
      <p>No payment details available</p>
      <% if @payment.present?%>
      <p> Relaoding the page</p>
      <% end %>
    <% end %>

  </div>

  <!-- Add Bootstrap JS and Popper.js via CDN (if needed) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.js"></script>


  <script>
  function downloadAsPDF() {
    const element = document.querySelector('.card');

    const options = {
      margin: 10,
      filename: 'payment_details.pdf',
      image: { type: 'jpeg', quality: 0.98 },
      html2canvas: { scale: 2 },
      jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
    };

    html2pdf().from(element).set(options).save();
  }

  if("<%=@payment.present? && @payment.pending?%>"=="true"){
    setTimeout(()=>{
        window.location.reload();
    },2000);
  }
</script>
</body>
</html>
