<!DOCTYPE html>
<html>
  <head>
    <title>Think || Develop || Deploy </title>
    <link rel="icon" type="image/png" href="<%=image_url "favicon.png"%>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  </head>

  <body>
      <% if current_user.present? && current_user.user? %>
        <%=render partial: "partials/navs/user"%>
      <% elsif current_user.present? && current_user.partner? %>
        <%=render partial: "partials/navs/partner"%>
      <%else%>
    <div class="container">
      <p class="bg-green-500 text-white m-2"><%= notice %></p>
      <p class="bg-red-500 text-white m-2"><%= alert %></p>
      <%= yield %>
    </div>
      <% end%>
  </body>
</html>
